<%= form_with(model: form.object, local: true, url: links_path(type: @link.type), method: (@link.persisted? ? :patch : :post)) do |f| %>
  <% if form.object.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(form.object.errors.count, "error") %> impidió que el link pueda ser guardado:</h2>

      <ul>
        <% form.object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'links/partials/form_fields', form: f %>

  <% case @type %>
    <% when 'TemporalLink' %>
      <div>
        <%= form.label :vencimiento, style: "display: block" %>
        <%= form.datetime_field :expiration_date %>
      </div>
    <% when 'PrivateLink' %>
      <div>
        <%= form.label :password, style: "display: block" %>
        <%= form.text_field :password %>
      </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
