<div id="<%= dom_id private_link %>">
  <p>
    <strong>Slug:</strong>
    <%= private_link.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= private_link.name %>
  </p>

  <p>
    <strong>Destination url:</strong>
    <%= private_link.destination_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= private_link.user_id %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= private_link.password %>
  </p>

</div>
