<h1>Detalle de Accesos</h1>

<%= search_form_for @q, url: link_accesses_path(link_id: @link&.id), method: :get do |f| %>
  <%= f.label :accessed_at_gteq, "Fecha y Hora desde" %>
  <%= f.datetime_field :accessed_at_gteq %>

  <%= f.label :accessed_at_lteq, "Fecha y Hora hasta" %>
  <%= f.datetime_field :accessed_at_lteq %>

  <%= f.label :ip_address_cont, "Dirección IP contiene" %>
  <%= f.text_field :ip_address_cont %>

  <%= hidden_field_tag :link_id, @link&.id %>

  <%= f.submit "Buscar", type: :submit %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Fecha y Hora</th>
      <th>Dirección IP</th>
    </tr>
  </thead>
  <tbody>
    <% @link_accesses.each do |link_access| %>
      <tr>
        <td><%= link_access.accessed_at %></td>
        <td><%= link_access.ip_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% @access_per_day.each do |fecha, cantidad| %>
  <p><%= "Fecha: #{fecha}, Cantidad: #{cantidad}" %></p>
<% end %>
