<p style="color: green"><%= notice %></p>
<div>
  <div class="logout-button">
  <%= form_tag(destroy_user_session_path, method: :delete) do %>
    <%= submit_tag 'Cerrar Sesión' %>
  <% end %>
  <div class="delete-user-button">
  <%= form_tag(user_registration_path, method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Estás seguro? Se perderá tu cuenta y todos tus links'}) do %>
    <%= submit_tag 'Eliminar Usuario' %>
  <% end %>
</div>
  </div>
</div>
<div class="page-title">Enlaces mas visitados</div>
  <div class="link-group">
  <h2 class="title"><%= link_to 'Regulares', (@regular_links || []).to_a.count > 0 ? links_path : "#" %></h2>
    <div class="link-buttons">
    <button><%= link_to 'Nuevo', new_link_path(new_go_back: root_path, type: 'RegularLink') %></button>
    </div>
    <%= render_links(@regular_links) %>
  </div>

  <div class="link-group">
  <h2 class="title"><%= link_to 'Temporales', (@temporal_links || []).to_a.count > 0 ? links_path : "#" %></h2>
    <div class="link-buttons">
    <button><%= link_to 'Nuevo', new_link_path(new_go_back: root_path, type: 'TemporalLink') %></button>
    </div>
    <%= render_links(@temporal_links) %>
  </div>

  <div class="link-group">
    <h2 class="title"><%= link_to 'Privados', (@private_links || []).to_a.count > 0 ? links_path : "#" %></h2>
    <div class="link-buttons">
      <button><%= link_to 'Nuevo', new_link_path(new_go_back: root_path, type: 'PrivateLink') %></button>
    </div>
    <%= render_links(@private_links) %>
  </div>

  <div class="link-group">
  <h2 class="title"><%= link_to 'Efímeros', (@ephemeral_links || []).to_a.count > 0 ? links_path : "#" %></h2>
    <div class="link-buttons">
    <button><%= link_to 'Nuevo', new_link_path(new_go_back: root_path, type: 'EphemeralLink') %></button>
    </div>
    <%= render_links(@ephemeral_links) %>
  </div>
</div>
