<div id="<%= dom_id ephemeral_link %>">
  <p>
    <strong>Slug:</strong>
    <%= ephemeral_link.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ephemeral_link.name %>
  </p>

  <p>
    <strong>Destination url:</strong>
    <%= ephemeral_link.destination_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ephemeral_link.user_id %>
  </p>

  <p>
    <strong>Used:</strong>
    <%= ephemeral_link.used %>
  </p>

</div>
