<p style="color: green"><%= notice %></p>

<h1>Ephemeral links</h1>

<div id="ephemeral_links">
  <% @ephemeral_links.each do |ephemeral_link| %>
    <%= render partial: 'links/link', locals: { link: ephemeral_link } %>
    <p>
      <%= link_to "Show this ephemeral link", ephemeral_link %>
    </p>
  <% end %>
</div>

<%= paginate @ephemeral_links %>

<%= link_to "New ephemeral link", new_ephemeral_link_path %>
