<p style="color: green"><%= notice %></p>

<%= render @ephemeral_link %>

<div>
  <%= link_to "Edit this ephemeral link", edit_ephemeral_link_path(@ephemeral_link) %> |
  <%= link_to "Back to ephemeral links", ephemeral_links_path %>

  <%= button_to "Destroy this ephemeral link", @ephemeral_link, method: :delete %>
</div>
