<div id="<%= dom_id regular_link %>">
  <p>
    <strong>Slug:</strong>
    <%= regular_link.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= regular_link.name %>
  </p>

  <p>
    <strong>Destination url:</strong>
    <%= regular_link.destination_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= regular_link.user_id %>
  </p>

</div>
