<%= form_with(model: link, local: true) do |f| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'links/form_fields', form: f %>

  <%= yield :additional_fields %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
