<%= form_with(model: form.object, local: true) do |f| %>
  <% if form.object.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% form.object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'links/form_fields', form: f %>
  

  # consultar como hacer para insertar campos desde el formulario
  <% if form.object.class == TemporalLink %>
    <div>
      <%= f.label :expiration_date, style: "display: block" %>
      <%= f.datetime_field :expiration_date %>
    </div>
  <% elsif form.object.class == PrivateLink %>
    <div>
      <%= f.label :password, style: "display: block" %>
      <%= f.password_field :password %>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
