<div id="<%= dom_id link %>" class="link-details-container">
  <% if @final_url %>
    <p>
      <strong>Link:</strong> 
      <a href="#" onclick="openLink('<%= @final_url %>'); return false;"><%= @final_url %></a>
    </p>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= link.name %>
  </p>

  <p>
    <strong>Destination URL:</strong>
    <%= link.destination_url %>
  </p>

  <% if link.is_a?(TemporalLink) %>
    <p>
      <strong>Vencimiento:</strong> <%= link.expiration_date %>
    </p>
  <% end %>

  <% if link.is_a?(EphemeralLink) %>
    <p>
      <strong>Usado:</strong> <%= link.used %>
    </p>
  <% end %>

  <% if link.is_a?(PrivateLink) %>
    <p>
      <strong>Contraseña:</strong> <%= link.password %>
    </p>
  <% end %>

  <p>
    <%= link_to 'Detalle de Accesos', link_accesses_path(link_id: link.id), class: 'access-details-link' %>
  </p>
  <%= link_to "Ver", link %>
</div>

<%= javascript_include_tag 'openLink' %>
