<div id="<%= dom_id temporal_link %>">

  <p>
    <strong>Link:</strong> 
    <a href = "<%= @final_url %>"> <%= @final_url %> </a>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= temporal_link.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= temporal_link.name %>
  </p>

  <p>
    <strong>Destination url:</strong>
    <%= temporal_link.destination_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= temporal_link.user_id %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= temporal_link.expiration_date %>
  </p>

</div>
